.cameras .camera {
  display: inline-block;
  width: 45%;
  margin: 2.5%;
}
.cameras .camera img {
  width: 100%;
}
.cameras .camera .info .label {
  font-family: sans-serif;
  font-size: 9px;
  float: left;
  margin: 2px;
  padding: 3px;
  background-color: #ea6f6f;
  border-radius: 3px;
  color: white;
}
